.footer {
  position: relative;
  width: 700px;
  right:25%;
  left:50%;
  margin-left:-300px;
  font-size: 1.5em;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rbutton {
  text-align: center;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  display: inline-block;
  background-color: #ccc;
  color: #000;
  left: 5px;
  top: 5px;
  font-size: 1.5em;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.rbutton:hover {
  background-color: #ddd;
}

.color-box {
  text-align: center;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  display: inline-block;
  background-color: #ccc;
  left: 5px;
  top: 5px;
  font-weight: bold;
}

.square-container {
  font-size: 2.5em;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.grey-square {
  background-color: #C2C2C2;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  display: inline-block;
}

.blue-square {
  background-color: #88CCEE;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  display: inline-block;
}

.yellow-square {
  background-color: #DDCC77;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  display: inline-block;
}

.red-square {
  background-color: #CC6677;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  display: inline-block;
}
